*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav1-width{
    width: 90%;
}
.nav-box{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.first-head{
    display: flex;
}
.achtenberg{
    margin-top: 16px;
    margin-left: 12px;
}
.nav-grad{
    background: linear-gradient(99.03deg, #FBED96 -1%, #ABECD6 92.31%);
    border-radius: 22px;
    margin-bottom: 40px;
}
.memoji{
 display: flex;
 justify-content: center;
 margin-top: 24px;
}
.memoji img{
    height: 100px;
}
.card-text{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 16px;
}
.ola{
font-size: 24px;
font-family: 'Nunito', sans-serif;
}
.desenvolvo{
font-size: 28px;
font-weight: bold;
line-height: 36px;
width: 40%;
}
.desenvolvo span{
    color: #38BDF8;
    text-decoration: underline yellow;
    font-family: 'Poppins', sans-serif;
    /* #40C4FF 100% #189FFF 100%; */
}
.card-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.card-btn1{
    display: flex;
}
.contato{
    color: white;
    background-color: black;
    padding: 6px 28px;
    border-radius: 22px;
}
.cvbtn{
    margin-left: 10px;
    margin-top: 6px;
    font-size: 16px;
}
.iconarrow{
    margin-top: 8px;
    margin-left: 8px;
}
.ultimos{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}
.cart-margin{
    margin-bottom: 30px;
}
.shop-box{
    display: flex;
    justify-content: space-between;
}
.box-det{
    width: 31%;
}
.shop-carts{
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.btn-shape{
    border-radius: 22px;
    padding: 6px 12px;
    border: none;
    margin-right: 10px;
    color: white;
    margin-bottom: 10px;
}
.shop-btns{
    margin-bottom: 14px;
}
.react-btn{
   background-color: #38BDF8;
}
.css-btn{
 background-color: #34D399 ;
}
.rdx-btn{
    background-color: #111827;
}
.js-btn{
 background-color: #F59E0B ;
}
.api-btn{
 background-color: #F43F5E;
}
.shop-img{
    width: 350px;
    height: 300px;
    padding: 34px 10px;
    border-radius: 22px;
}
.red-bg{
  background-color: #E23839;
}
.green-bg{
background-color: #022516;
}
.orange-bg{
 background-color: #ED7854 ;
}
.shop-links{
    display: flex;
    margin-bottom: 30px;
}
.img-margin{
    margin-bottom: 12px;
}
.ico-lnk{
    color: black;
    margin-right: 12px;
    margin-left: 6px;
}
.org-icon{
  display: flex;
  justify-content: flex-end;
}
.ics{
    color: white;
    background-color:#F59E0B;
    padding: 14px;
    border-radius: 50%;
    margin-right: 14px;
}
.vector{
    width: 127px;
    height: 49px;
    margin-top: -35px;
}
.memopara-box{
    display: flex;
}
.paradiv{
 width: 50%;
}
.onepara{
    margin-top: 20px;
    margin-left: 1em;
    margin-bottom: 40px;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
}
.memodiv{
  display: flex;
 justify-content: center;
 margin: auto;
}
.memodiv img{
    transform: scale(1.5); 
  transform-origin: top;
}
.lang-flex{
    display: flex;
    margin-bottom: 70px;
}
.img-margin{
    margin-right: 50px;
}
.footer-1{
    display: flex;
    justify-content: center;
    background-color: #111827;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    align-items: center;
}
.footer-width{
    width: 90%;
    color: white;
}
.footer-flex{
    display: flex;
    justify-content: space-between;
}
.footerpara{
 margin-top: 40px;
 margin-bottom: 20px;
}
.footer-pic{
    width: 450px;
    height: 300px;
}
.footer-pic img{
    width: 100%;
    height: 100%;
}
.temfont{
    width: 70%;
    margin-left: 10px;
}
.one-ft{
    margin-left: 10px;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    width: 30%;
}
.two-ft{
    margin-left: 10px;
    text-decoration: underline;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}
.footericons{
    margin-left: 10px;
}
.one-icon{
color: #38BDF8;
background-color: white;
padding: 10px;
border-radius: 6px;
margin-right: 14px;
}
.two-icon{
 color: white;
 background-color: #38BDF8;
 padding: 10px;
border-radius: 6px;
}
.footer-reference{
    text-align: center;
    margin-bottom: 30px;
    color: rgb(187, 181, 181);
    font-family: 'Poppins', sans-serif;
}
.ftimg{
    position: relative;
    top: 8px;
    margin-left: 6px
}
.glink{
    font-weight: bold;
}
/*  ...........................................MEDIA QUERIES .....................................................*/
    /* Styles to apply when the screen width is 1180px or smaller */
@media (max-width:1180px) {
    .box-det{
        width: 50%;
    }
  .shop-box{
            flex-wrap:wrap;
        }
     }
@media (max-width:970px) {
.onepara{
    margin-bottom: 16px;
}
.temfont{
    width: 100%;
}
.one-ft{
    width: 40%;
}
}
@media (max-width: 830px) {
    .shop-img {
        width: 300px;
        height: 250px;
    }
    .onepara{
        font-size: 18px;
    }
    .img-margin {
        margin-right: 20px;
    }
}

@media (max-width: 700px) {
.desenvolvo{
    width: 60%;
}
.box-det{
    width: 100%;
}
.memopara-box{
    flex-wrap: wrap;
}
.paradiv{
    width: 95%;
}
.memodiv img {
    transform: scale(1);
}
.temfont{
    font-size:30px;
}
  }
@media (max-width: 540px){
  .langpic{
    width: 100px;
    height: 150px; 
}
.footer-pic{
    display: none;
}
.one-ft{
    width: 100%;
}
}
@media (max-width: 440px) {
    .desenvolvo{
        width: 85%;
    }
    .card-btn{
        flex-wrap: wrap;
    }
    .card-btn1{
        width: 100%;
        justify-content: center;
    }
 }
@media (max-width: 390px) {
 .langpic {
    width: 80px;
    height: 115px;
}
.onepara {
    font-size: 16px;
}
}
@media (max-width: 340px) {
   .desenvolvo{
            width: 100%;
        }
    .shop-img {
        width: 250px;
    }
    .img-margin {
        margin-right: 0px;
    }
}
     